<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body class="<%= dato && dato.color ? dato.color : null %>">
    <a href="/Deslogueo">Desloguearse</a>
    <br />
    <h1><%= dato.nombre %>, gracias por visitarnos.</h1>
    <a href="/">Bienvenida!</a>
  </body>
</html>
